.bash_history
.bash_logout
.bashrc
.cache
.config
.dotnet
.local
.gitconfig
.sudo_as_admin_successful
.profile
.kaggle
.viminfo
.vscode
.ssh
.vscode-server
.wget-hsts
.gnupg
.java
.mozilla
.Xilinx
Desktop
Downloads
vivado_patch_dir
.flexlmrc
.Xauthority
vivado.jou
vivado.log
vivado.zip
wget-log
archive
archive_tgz